[Unit]
Description=Check olcbox and Amnezia updates every hour

[Timer]
OnBootSec=3min
OnUnitActiveSec=1h
RandomizedDelaySec=3min
Persistent=true
Unit=unifiedvpn-upstream-notifier.service

[Install]
WantedBy=timers.target
